<h1>Hi <%= params[:user].email %></h1>

Someone requested a reset password if this was you please click the link below, otherwise the link will expire in 15 minutes.
<%= link_to "Reset Password", password_reset_edit_url(token: @token)%>